<div class="card ms-3 mt-3" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Articles</h5>
    <h6 class="card-subtitle mb-2 text-muted">total 6 articles</h6>
  </div>
</div>