<%= render 'common/titlecard', title: @category.name, subtitle: "Created #{time_ago_in_words(@category.created_at)}" %>
<div class="digg_pagination position-relative top-0 start-50 translate-middle mt-3", style="width: 50rem;">
  <%= paginate @articles %>
</div>
<%= render 'common/miniarticles', articles: @articles %>
