<% if obj.errors.any? %>
  <div class="alert alert-danger alert-dismissible fade show ms-3 mt-3 me-3 mb-3" role="alert">
    <h5 class="alert-heading">Operation failed because of below errors</h5>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    <hr>
    <ul> 
      <% obj.errors.full_messages.each do |msg| %>
        <li class="mb-0"><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>