<div class="card ms-3 mt-3" style="width: 18rem;">
  <%= image_tag(image, class:"card-img-top") if defined?(image) %>
  <div class="card-body">
    <h5 class="card-title"><%= title %></h5>
    <h6 class="card-subtitle mb-2 text-muted"><%= subtitle %></h6>
  </div>
</div>